* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #C2CAD0;
}

/*Overwrite bootstrap css to make the page width fit*/
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
/*Overwrite bootstrap to make home.html boxes have correct padding*/
.col {
  padding-left: 0;
  padding-right: 0;
}