* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #C2CAD0;
}

/*Overwrite bootstrap css to make the page width fit*/
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
/*Overwrite bootstrap to make the pictures.html page flow better*/
.jumbotron {
  margin-bottom: auto;
}
/*Overwrite bootstrap to make home.html boxes have correct padding*/
.col {
  padding-left: 0;
  padding-right: 0;
}
/*Makes the footer sticky*/
.card-footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: green;
  text-decoration: none;
  font-weight: bold;
}


/*Makes the google calendar centered and cooperative*/
.google-calendar {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  padding-top: 50px;
  height: 0;
  overflow: hidden;
  margin-left: 15%;
  margin-bottom: -18%;
}
.google-calendar iframe {
position: absolute;
top: 0;
left: 0;
display: flex;
justify-content: center;
}
/*
@media only screen and (max-width: 600px) {
  .google-calendar iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  }
}
*/
